body {
  background-color: #CFB53B;
}

h1 {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
}

h1, table {
  color: #4B0082;
}

a {
  color: #006400;
}

a:hover {
  color: #4B0082;
  text-decoration: none;
}

#users {
  font-family: 'Raleway', sans-serif;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}

.sort {
  cursor:pointer;
}

.search {
  width: 400px;
  display: block;
  margin: auto;
}

.restaurant {
  font-weight: bold;
}
